<div class="invoice-box" id="fatura__template">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title" id="fatura__logo"></td>
            <td>
              <p>Invoice #<span id="fatura__invoiceHeading_number"></span></p>
              <p>Created: <span id="fatura__invoiceHeading_createdAt"></span></p>
              <p>Due: <span id="fatura__invoiceHeading_dueDate"></span></p>
            </td>
          </tr>
          <tr class="information">
            <td colspan="2">
              <table>
                <tr>
                  <td>
                    <p class="text-heading">Bill to: </p>
                    <p><span id="fatura__companyDetails_name"></span></p>
                    <p><span id="fatura__companyDetails_address"></span></p>
                    <p><span id="fatura__companyDetails_extend"></span></p>
                  </td>
                  <td>
                    <p><span id="fatura__userDetails_name"></span></p>
                    <p><span id="fatura__userDetails_email"></span></p>
                    <p><span id="fatura__userDetails_bankName"></span></p>
                    <p><span id="fatura__userDetails_bankSwiftCode"></span></p>
                    <p><span id="fatura__userDetails_bankAccountNumber"></span></p>
                    <p><span id="fatura__userDetails_extend"></span></p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- <tr class="heading">
            <td> Payment Method </td>
            <td> Check # </td>
          </tr>
          <tr class="details">
            <td> Check </td>
            <td> 1000 </td>
          </tr> -->
          <tr class="heading">
            <td> Item </td>
            <td> Price </td>
          </tr>
          <tr class="item">
            <td> Website design </td>
            <td> $300.00 </td>
          </tr>
          <tr class="item">
            <td> Hosting (3 months) </td>
            <td> $75.00 </td>
          </tr>
          <tr class="item last">
            <td> Domain name (1 year) </td>
            <td> $10.00 </td>
          </tr>
          <tr class="total">
            <td></td>
            <td> Total: $385.00 </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>